.bx_shadow{
    box-shadow: 1px 1px 12px 0px blueviolet;
}
.bx_shadow input[type="submit"]{
    background-color: blueviolet;
    border-radius: 30px 14px;
    padding: 12px;
    color: #fff;
    border: none;
}
.breadcrumb{
    background-color: blueviolet;
    padding: 20px 0px;
}

.breadcrumb h1{
    font-size: 32px;
    color: #fff;
    text-align: center;
}

.banner{
    width: 500px;
    height: 300px;
}

.register{
    width: 500px;
    height: 500px;
}

.radius{
    border-radius: 0%;
}

.sidebar ul{
 list-style: none;
}
.sidebar li{
    margin-bottom: 20px;
}

.underline{
    text-decoration: none;
}

.img{
    width: 100%;
    height: 100%;
}

.div1{
    position: relative;
}

.div2{
    position: absolute;
    top: 20%;
    left: 35%;
    padding: 20px;
    background-color: transparent;
    color: #fff;
}


